<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Flask Features</title>
  </head>
  <body>
    <div class="container">
      {% extends "template.html" %} {% block content %}

      <h1>Some features</h1>
      <p>Flask is a micro web framework written in Python.</p>

      <form
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" />
        <input type="submit" />
      </form>

      {% endblock %}
    </div>
  </body>
</html>
